sleep_time_save: 0.03
max_tab: 128
min_tab: 4
shortcut_geturis: "control+g"
sleep_time_restore: 0.1
save_tabs_path: "/home/username/.local/share/nautilus/tabs"
socket_path: "/tmp/nautilus_username.socket"
